/* I imported a "Google Font" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

/* This targets the whole HTML page */
* {
    box-sizing: border-box;
}

/* This targets the body of the HTML page */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* This targets the meals container */
.container {
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 45px;
    overflow: hidden;
    background-color: #fff;
    width: 800px;
}

/* This centers the h3 tag text */
h2 {
    text-align: center;
}

/* This centers the p tag text */
p {
    text-align: center;
}

/* This centers the button tag with the class name "button-primary"*/
.button-primary {
    text-align: center;
    margin-left: 355px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* This centers the image with the class name "center" */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.mealName {
    text-align: center;
}


/* This targets the video recipe and make is bigger and centered as well */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoRecipe {
    text-align: center;
}